
*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
    nav{
    height: 75px;
    background-color: hsl(0, 55%, 41%);
    display: flex;
    justify-content:space-between;
    align-items: center;
    border:2px solid hsla(155, 90%, 39%, 0.808);
}
.logo ,.menu{
    height: 75px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    
}
ul{
    width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
 a {
    text-decoration: none;
    color: white;
    list-style: none;
    
}
.form-holder{
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
   display: flex;
   justify-content: space-evenly;
}
form{
    width:400px;
    text-align: center;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0,0,20 rgba(red, #181f18a6, blue, alpha);
    padding:10px;
}
.form-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;

}
.form-items label{
    margin-bottom: 10px;

}
.form-items input{
    width:80%;
    border-radius: 8px;
    padding: 7px 14px;
    border: 2px solid black;
}
.gender{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button{
    width:80%;
    border: none;
    padding: 10px 20px;
    background: #bd0a0ace;
    border-radius: 10px;
    color: white;
}
button:hover{
    background: red;
}
.gender>div{
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}
